<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut aliquid totam dicta nemo, beatae magni
            doloremque. Eos nobis totam est aliquam, similique magni velit quasi omnis suscipit perspiciatis amet magnam
            natus esse perferendis nesciunt quia. Unde perferendis commodi sit expedita?</p>
    </div>
</div>