<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs y Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis vitae velit necessitatibus repudiandae eaque
        quaerat molestiae eligendi! Iure, sequi molestiae ullam a, provident recusandae quis voluptatibus veritatis
        nostrum ex quos.</p>
    <a href="#" class="btn btn-primary btn-lg">Leer más</a>
</div>